* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
   background-color: #f9f2f0;
 }




 /* styling af navbar */
 header{
   position: sticky;
   width: 100%;
   z-index: 101;
   top: 0;
   background-color: #f9f2f0;
 }
 .nav{
   height: 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 2rem;
   margin-left: 2rem;
   margin-right: 2rem;
 }
/* styling af menupunkter i nav baren  */
 .nav-menu ul{
   margin: 0;
   padding: 0;
   display: flex;


 }

 .nav-menu ul li{
   list-style: none;
 }

 .nav-menu ul li a{
   text-decoration: none;
   color:#344396 ;
   padding: 1rem;
   display: block;
   font-size: 1.5rem;
   margin-right: 6rem;
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
   
 }

 /* styling af hover ved navbar */
 .nav-menu li a:hover{
   color: black;
 }

 /* styling til linje under menupunkt til den pågældende side */
 .nav li.current a{
   border-bottom: 2px solid #344396;
 }

 /* styling af logo */
 .logo{
   height: auto;
   width: 10rem;
   margin-right: 10rem;
 }

 /* styling af søgefelt ikon */
 .søgefelt{
   color: #344396;
 }

 /* styling af login ikon */
 #login-ikon{
   height: 2rem;
   width: auto;
   padding-left: 0;
   padding-right: 0;
 }

 /* styling af kurv ikon */
 #indkøbskurv{
   height: 2rem;
   width: auto;
 }

 .søgefelt,
 #login-ikon,
 #indkøbskurv {
   justify-content: flex-end;
 }

 /* -------------------------------------styling af forside----------------------- */
 /* styling af video på forsiden */
 .video-bigphoto {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 5vh;
  height: 80vh;
  padding: 0 150px 0 150px;
}

.video-bigphoto video {
  width: 100%;
  height: auto; 
  max-width: 100%;
}

/* styling af overskrift */
.overskrift-forside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Katibeh", serif;
  color: #344396;
  font-size: 4rem;
  font-weight: 400;
}

/* styling af måltidskasser knap */


.forside-knapboks{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  margin-left: 25rem;
}

span.forside-knap{
  text-decoration: none;
   border: 2px solid #9b282c;
   background-color: #9b282c;
   padding: 1rem;
   font-size: 1rem;
   font-family: "KoHo", sans-serif ;
}

span.forside-knap a{
  color: white;
}

/* forside knap hover */
.forside-knapboks:hover{
  opacity: 0.8;
}


/* styling af farvoritkasserne */
.farvoritter-forside {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  padding-left: 20rem;
  padding-right: 20rem;
}

.farvorit-item-forside {
  text-align: center;
  margin-right: 20px;
  width: 400px;
}

/* styling af farvoritkasser billeder */
#vegetarfarvorit,
#familiefarvorit,
#studiefarvorit{
  height: auto;
  width: 30vw;
 background-color: transparent;
}

.farvorit-item img {
  width: 100%; /* Sørg for, at billedet inden i cirklen passer inden for cirklen */
  height: auto;
}
/* styling af cirkel bag ved billeder */
.circle-background-forside{
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* hover effekt på kasserne */
.farvorit-item:hover {
  opacity: 0.8; /* Juster gennemsigtigheden ved hover efter dine præferencer */
}

/* styling af tekst under farvoritkasser */
.farvoritter-forside p{
  color: #344396;
  font-family: "KoHo", sans-serif;
  font-size: 1.5rem;
}

/* styling af nippons mission,vision og værdier */
.missionfelt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  padding: 1rem 0 1rem 0;
  margin-bottom: 4rem;
}

.mission-item {
  text-align: center;
  width: 300px; /* Juster bredden efter behov */
  margin-bottom: 20px; /* Juster afstanden mellem mission-items efter behov */
}

.mission-item img {
  max-width: 100%; /* Sørg for, at billedet ikke strækker sig ud over containeren */
  height: auto;
}


/* styling af billederne i missionfelt */
#værdier, 
#vision,
#mission{
  height: auto;
  width: 5rem;
}

/* styling af brødtekst ved missionfelt */
.missiontxt{
  font-family: "KoHo", sans-serif ;
  font-size: 0.9rem;
  font-weight: normal;
}


 /* styling af billeder over footer */
 .footer-top {
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 20px 0 0 0; /* Juster padding efter dine præferencer */
   background-color: #f9f2f0;
 }
 
 .footer-top img {
   max-width: 100%; /* Sørg for, at billederne ikke strækker sig ud over deres naturlige størrelse */
   height: 2.32rem;
   background-color: #f9f2f0;
 }

/* ------------------------måltidskasser siden----------------- */

/* styling af overskrift */
.overskrift-maaltidskasse{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-family: "Katibeh", serif;
  color: #344396;
  font-size: 4rem;
  font-weight: 400;
}

/* styling af beskrivelse af vores måltidskasser */
.brødtekst-maaltidskasser{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: justify;
}

/* styling af tekstboksen */
.maaltidskasser-txt{
  width: 45%;
  margin: auto;
}

/* styling af måltidskasserne, sådan de er på række  */
.image-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.image-item {
  text-align: center;
  width: 30%; /* Juster bredden efter behov */
  margin-bottom: 20px;
}

.circle-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle-background {
  position: relative;
  background-color: white;
  border-radius: 50%;
  padding: 1px;
  display: inline-block;
  overflow: hidden;
}

.circle-background img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 50%;
}

.details {
  text-align: center;
  margin-top: 5px;
}

.fas.fa-clock {
  color: #344396;

}

.tid {
  color: #344396;
  margin-left: 15px;
  margin-bottom: 10px;

}

.tids-detaljer{
  display: flex;
  align-items: center;
  justify-content: center;
}

p {
  margin-top: 10px;
  font-weight: bold;
}

.læs-mere-knap,
.tilføj-knap {
  background-color: white;
  color: #9b282c;
  padding: 8px 16px;
  border: 2px solid #9b282c;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  padding: 15px 20px;
}

.tilføj-knap {
  background-color: white;
  margin-top: 0;
}
span.måltidskasse-læsmere-knap{
  background-color: white;
  color: #9b282c;
  padding: 8px 16px;
  border: 2px solid #9b282c;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 5px;
  cursor: pointer;
  padding: 15px 20px;
  margin-left: 10px;
}
span.måltidskasse-læsmere-knap:hover{
  background-color: #f9f2f0;
  opacity: 0.8;
}


/* styling af ikoner til ved siden af billederne */


/* styling af hover over knapperne */
.læs-mere-knap:hover{
  background-color: #f9f2f0;
  opacity: 0.8;
}

.tilføj-knap:hover {
  background-color: #f9f2f0;
  opacity: 0.8;
}

/* styling af filterings delen */
#filter-buttons img {
  width: 50px; /* Juster bredden efter behov */
  height: 50px; /* Juster højden efter behov */
  margin: 5px;
  cursor: pointer;
}

#filter-buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#filter-buttons img:hover{
  opacity: 0.8;
}





/*-----------------Herstyles undersiden vegetarkassen-----------------*/
 /*Her styler jeg min tilbage knap*/
 span.knapper {
  border-color: #9b282c;
  border-style: solid;
  border-radius: 25px;
  padding: 0.5rem;
  margin-left: 5rem;
  font-family: "KoHo", sans-serif;
  font-weight: 600;
  font-style: normal;

}
span a {
  text-decoration: none;
  list-style: none;
  color: #9b282c;
}

.vegetar-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 4.5rem;
  
}

img.vegetarimg-content {
  width: 100%;
}

.vegetar-content {
  padding-left: 5rem;
  color: #344693;
  line-height: 2;

}

h2 {
  padding-top: 3rem;
  color: #344693;
  text-align: center;
}

/* styling af Ugens menu under vegetarkassen*/
.menu-container {
  display: flex;
  justify-content: space-around; /* Juster efter præference: space-between, space-evenly osv. */
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 5rem;
}

.menu-item {
  text-align: center;
  margin-right: 20px;
}

/* styling af retter under vegetarkassen billeder */
#rispapirsruller,
#okonomiyaki,
#vegetarsushi{
  height: auto;
  width: 20vw;
 background-color: transparent;
 
}

#tempuratofu {
  width: 20vw;
  margin-left: -1.5rem;
}


.menu-item img {
  width: 100%; /* Sørg for, at billedet inden i cirklen passer inden for cirklen */
  height: auto;
}
/* styling af cirkel bag ved billeder */
.circle-background{
  
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img#ur {
  width: 20%;
}
div.tid {
  display: flex;
  align-items: center;
  margin-left: 6rem;
  margin-top: 1rem;
}

div.knapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;

}

div.knapper,span {
  
  margin-left: 3rem;
}

section.vælgknap {
  margin-top: 6rem ;
  margin-bottom: 4rem;
  text-align: center;
  font-family: katibeh;
  
}

p {
  font-family: katibeh;
}


 /* styling af footer */
 footer {
   display: flex;
   justify-content: space-between; 
    align-items: center;
   height: 100%;
   width: 100%;
   background-color: #344693;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1rem;
   color: #f1dfdd;
   text-align: center;
}

/*Ændre farven på mine medie ikoner*/
footer a {
   color: #f1dfdd;
   font-size: 2rem;
   background-color: #344396;
}

#info, #medier {
   
   padding: 2rem;
   box-sizing: border-box;
   margin: 0 8rem;
   background-color: transparent;

}


/* ------------------------måltidskasser siden----------------- */

/* styling af beskrivelse af vores måltidskasser */
.brødtekst-maaltidskasser{
   display: flex;
   justify-content: center;
   margin-bottom: 2rem;
   font-weight: normal;
   text-align: justify;
}

/* styling af tekstboksen */
.maaltidskasser-txt{
   width: 45%;
   margin: auto;
}

/* styling af måltidskasserne, sådan de er på række  */
.image-section {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
 }
 
 .row {
   display: flex;
   justify-content: space-around;
   width: 100%;
   margin-bottom: 20px;
 }
 
 .image-item {
   text-align: center;
   width: 30%; /* Juster bredden efter behov */
   margin-bottom: 20px;
 }
 
 .circle-container {
   display: flex;
   align-items: center;
   flex-direction: column;
 }
 
 .circle-background {
   position: relative;
   background-color: white;
   border-radius: 50%;
   padding: 1px;
   display: inline-block;
   overflow: hidden;
 }
 
 .circle-background img {
   max-width: 100%;
   height: auto;
   display: block;
   border-radius: 50%;
 }
 
 .details {
   text-align: center;
   margin-top: 5px;
 }
 
 .fas.fa-clock {
   color: #344396;

 }
 
 .tid {
   color: #344396;
   margin-left: 15px;
   margin-bottom: 10px;
 
 }

 .tids-detaljer{
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 p {
   margin-top: 10px;
   font-weight: bold;
 }
 
 .læs-mere-knap,
 .tilføj-knap {
   background-color: white;
   color: #9b282c;
   padding: 8px 16px;
   border: 2px solid #9b282c;
   border-radius: 50%;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   margin-top: 5px;
   cursor: pointer;
   padding: 15px 20px;
 }
 
 .tilføj-knap {
   background-color: white;
   margin-top: 0;
 }

 /* styling af ikoner til ved siden af billederne */
 

 /* styling af hover over knapperne */
 .læs-mere-knap:hover{
   background-color: #f9f2f0;
   opacity: 0.8;
 }

 .tilføj-knap:hover {
   background-color: #f9f2f0;
   opacity: 0.8;
 }

 /* styling af filterings delen */
 #filter-buttons img {
   width: 50px; /* Juster bredden efter behov */
   height: 50px; /* Juster højden efter behov */
   margin: 5px;
   cursor: pointer;
 }

 #filter-buttons{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #filter-buttons img:hover{
   opacity: 0.8;
 }
 

 /*Styling af inforgraphic.html*/
 .infographic{
  height: 40rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.infographic-div img{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
.infographic-div{
 display: flex;
 flex-direction: row;
}

span {
  border-color: #9b282c;
  border-style: solid;
  border-radius: 25px;
  padding: 0.5rem;
  margin-left: -25rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  box-shadow: 10px 10px 5px #f1dfdd;

}

.btn1{
  margin-top: 40rem;
  padding-right: 3rem;
  background-color: #f9f2f0;
}
/*Styling af log-ind.html*/

/*Styling af logind-knap*/
input[type="submit"] {
  background-color: #FCF9F9;
  font-size: 1.3rem;
  transition: transform 0.3s ease-in-out;
 }

 input[type="submit"]:hover{
   transform: scale(1.1);
 }

 /*Styling af overskift ''LOG IND''*/
.log-ind2{
   background-color: white;
   color: #344396;
   cursor: pointer;
   font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  margin-top: 2rem;
  padding: 1rem;
}

/*Styling af Opret Ny-knap*/


input[type="button"]{
  width: 50%;
  font-size: 1.2rem;
  color: #f1dfdd;
  background-color: #344396;
}

/*Styling af opret-bruger.html*/
.ny-bruger {
   border: 1px solid #9b282c; /* Tynd rød linje rundt om boksen */
   padding: 20px;
   text-align: center;
   width: 30%;
   margin: auto; /* Centrerer boksen */
   border-radius: 45px;
   margin-top: 4rem;
   background-color: white;
   box-shadow: 10px 10px 5px #f1dfdd;
 }
 
 label {
   display: block;
   margin-bottom: 10px;
   text-align: left;
   margin-left: 50px;
   background-color: white;
   font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   font-size: 1rem;
   color: black;
   margin-top: 1rem;
 }
 
 input {
   width: 80%;
   padding: 10px;
   margin-bottom: 15px;
   box-sizing: border-box;
   border: 1px solid #9b282c; /* Tynd rød linje omkring inputboksene */
   border-radius: 60px;
   background-color: #FCF9F9;
 }
 
 input[type="submit"] {
   background-color: white;
   color: #9b282c;
   cursor: pointer;
   width: 50%;
   font-family: "Jost", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
   box-shadow: 5px 5px 2.5px #f1dfdd;
 }

 form{
   background-color: white;
 }

 













 


/*Styling af betaling.html*/

.gyldig select{
  border-radius:25px;
  width: 40%;
  border-color: #9b282c;
  background-color: #FCF9F9;
  padding: 0.60rem;
}

.btn-betal{
  background-color: white;
  cursor: pointer;
  width: 50%;
  box-shadow: 5px 5px 2.5px #f1dfdd;
  width: 30%;
  margin: auto; /* Centrerer boksen */
  border-color: #9b282c;
  border-style: solid;
  border-radius: 25px;
  padding: 0.5rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #344396;
}


/*Styling af kurv.html*/

.kurv-box{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.kurv-box p{
  padding: 0.5rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
  width: 100%;
  margin: auto;
}

.kurv-txt{
  text-align: left;
}

.kurv-txt-pris{
  text-align: right;
  justify-content: right;
}


.dot-line{
  border: none;
  border-top: 3px dotted #344396;
  margin: auto;
  width: 80%;
  padding: 1rem;
}

/*Næste knap*/

.naeste{
  margin: auto;
}

.naeste-knap{
  transition: transform 0.3s ease-in-out;
  padding: 1rem;
}

.naeste-knap:hover{
  transform: scale(1.1);
}

.naeste a{
  text-decoration: none;
  color: #9b282c;
  padding: 0.5rem;
}



/*''I alt'' linjen*/

.kurv-box-ialt{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.kurv-box-ialt p{
  font-weight: bold;
}

.kurv-ialt{
  text-align: left;
  padding: 0.5rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
  margin: auto;
  width: 80%;
}

.kurv-txt-pris-ialt{
  text-align: right;
  justify-content: right;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}




 
 /*Styling af arigatou.html*/

.arigatou{
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #344396;
}

.arigatou1{
  padding: 0.75rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1rem;
}

.bekraeft{
  border: 1px solid #9b282c; /* Tynd rød linje rundt om boksen */
  padding: 20px;
  text-align: center;
  width: 40%;
  margin: auto; /* Centrerer boksen */
  border-radius: 45px;
  margin-top: 7rem;
  background-color: white;
  box-shadow: 10px 10px 5px #f1dfdd;
  padding: 2rem;
}

 /*Styling ''Error 404''html*/

 .error-txt2{
  text-align: center;
  font-size: 25px;
  margin-top: 4rem;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.7rem;
  margin-top: 12rem;
}

.error-txt3{
  text-align: center;
  font-size: 25px;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 1.7rem;
}

video {
  width: 100%;
  height: 45vh;
  padding: 3rem;
}








 
 
 





 